# Core AGNO framework and dependencies
agno
pydantic
requests
python-dotenv
google-genai

# Web Search Tool dependency
duckduckgo-search
ddgs

# Web Server (necessary for Render)
fastapi
uvicorn

#server side dependency
sse-starlette 

#frontend template 
jinja2 python-multipart